*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
   
  }

.header1{
    position: absolute;
    top:0;
    /* overflow: hidden; */
    background-color:#323232;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-image: url("../self-pattern.svg");
    position: sticky;
    z-index: 10;
    @media screen and (max-width: 960px) {
      transition: 0.8 all ease;
      width: 100%;
    }
}
.logo1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid grey;
    margin-left: 20px;
    /* margin-right: 20px; */
    padding: 15px;
    >img{
      filter: drop-shadow(2px,2px,2px,grey);
      opacity: 1;
      height: 150px;
    }
}
.nav_ul{
    /* border: 2px solid red; */
    position: relative;
    font-family: "Montserrat", sans-serif;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: flex-start;
    width: 600px;
    /* align-items: center; */
  }
  .link{
    text-decoration: none;
   
  }
  .nav_li{
    color:white;
    /* font-weight: bold; */
    text-decoration: none;
    font-size: 16px;
    margin-left: 50px;
    /* margin-right: 50px; */
    
    
    
}
  .nav_li:hover{
    transition: 0.2s;
    transform: scale(1.1);
    /* color:grey; */
    color: #7e2e34;

}
.active{
    >.nav_li{
      color: #520f15;
    }
    /* border: 2px solid red; */
}